video {
    padding: 0px;
    margin: 0px;
    float: left;
}

canvas, video {
    border: 1px solid darkgreen;
}

.progress {
    width: 640px;
    height: 20px;
    background-color: grey;
}

.elapsed {
    width: 200px;
    height: 100%;
    background-color: lightcoral;
}

.controls img:hover {
    cursor: pointer;
}

.controls.playing #play {
    display: none;
}

.controls.paused #pause {
    display: none;
}