video {
    padding: 0px;
    margin: 0px;
    float: left;
    width: 320px;
    height: 240px;
}

canvas, video {
    border: 1px solid cornflowerblue;
}

canvas {
    cursor: pointer;
}

.error {
    background-color: lightcoral;
    border: 3px solid gray;
    border-radius: 1em;
    padding: 1em
}

.hide {
    display: none
}

#snapshots img {
    margin: 0.2em;
    border: 5px solid lightcoral;
}

#snapshots img:nth-child(odd) {
    border-color: lightblue;
}