video {
    padding: 0px;
    margin: 0px;
    float: left;
}

canvas, video {
    border: 1px solid cornflowerblue;
}

.error {
    background-color: lightcoral;
    border: 3px solid gray;
    border-radius: 1em;
    padding: 1em
}

.hide {
    display: none
}