
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}


body {
  background: rgba(249, 249, 230, 1);
  color: rgba(0, 0, 0, 0.8);
  font-family: "Muli", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6;
}

a {
  color: rgba(0, 113, 205, 1);
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 113, 205, 1);
}

header {
  padding: 4rem;
}

main {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 0 4rem;
}


h1 {
  font-size: 4.8rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

h1 span {
  color: rgba(255, 139, 139, 1);
  display: block;
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: -1rem;
  text-transform: uppercase;
}


h2 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0 0 2rem 0;
}


p {
  margin-bottom: 2rem;
}


.tasks {
  background: rgba(255, 255, 255, 1);
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 0 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  justify-content: center;
  margin: 0 4rem 4rem 0;
  padding: 2rem;
  text-align: center;
  width: 40rem;
}

.tasks__list {
list-style: none;
}

.tasks__list li {
  margin: 0 0 1.5rem 0;
  padding: 0 0 1.5rem 0;
  position: relative;
}

.tasks__list li:last-child {
  margin-bottom: 0;
}

.tasks__list li:not(:last-child)::after {
  background: rgba(255, 139, 139, 1);
  bottom: 0;
  content: "";
  display: block;
  height: 0.2rem;
  left: calc(50% - 2rem);
  position: absolute;
  width: 4rem;
}




input[type="checkbox"] {
  font-size: 2rem;
  display: none;
}

input:checked ~ label {
  color: rgba(0, 0, 0, 0.3);
  font-style: italic;
  text-decoration: line-through;
}
input ~ label:hover {
  text-decoration: line-through;
}

code {
  background: rgba(255, 255, 255, 0.6);
  color: rgba(0, 0, 0, 1);
  padding: 0.4rem;
}